<%- include('header.ejs')%>

<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleControls" data-slide-to="1"></li>
		<li data-target="#carouselExampleControls" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<div id="home" class="first-section" style="background-image:url('https://imageio.forbes.com/specials-images/imageserve/63da950b8439bac677e6ed8a/0x0.jpg?format=jpg&width=1200');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-right">
								<div class="big-tagline">
									<h2><strong>SmartEDU </strong> education College</h2>
									<p class="lead">With Landigoo responsive landing page template, you can promote your all hosting, domain and email services. </p>
										<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" class="hover-btn-new"><span>Read More</span></a>
								</div>
							</div>
						</div><!-- end row -->            
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<div class="carousel-item">
			<div id="home" class="first-section" style="background-image:url('https://www.popejohnpaulcollege.org/dynamic_image/slider/slider-4.jpg');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-left">
								<div class="big-tagline">
									<h2 data-animation="animated zoomInRight">SmartEDU <strong>education school</strong></h2>
									<p class="lead" data-animation="animated fadeInLeft">With Landigoo responsive landing page template, you can promote your all hosting, domain and email services. </p>
										<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" class="hover-btn-new"><span>Read More</span></a>
								</div>
							</div>
						</div><!-- end row -->            
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<div class="carousel-item">
			<div id="home" class="first-section" style="background-image:url('https://www.sbncollege.in/img/s1.jpg');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-center">
								<div class="big-tagline">
									<h2 data-animation="animated zoomInRight"><strong>VPS Servers</strong> Company</h2>
									<p class="lead" data-animation="animated fadeInLeft">1 IP included with each server 
										Your Choice of any OS (CentOS, Windows, Debian, Fedora)
										FREE Reboots</p>
										<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" class="hover-btn-new"><span>Read More</span></a>
								</div>
							</div>
						</div><!-- end row -->            
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<!-- Left Control -->
		<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="fa fa-angle-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<!-- Right Control -->
		<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

    <div class="parallax section dbcolor">
			
<h1 class="text-center">email.Id: <%= e %></h1>










<div id="plan" class="section lb">
	<div class="container">
		<div class="section-title text-center">
			<h3>Choose Your Plan</h3>
			<p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		</div><!-- end title -->

		

		<hr class="invis">

		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
					<div class="tab-pane active fade show" id="tab1">
						<div class="row text-center">
							<div class="col-md-4">
								<div class="pricing-table ">
									<div class="pricing-table-header grd1">
										<h2>MCA</h2>
										<h3>Master of Computer Application</h3>
									</div>
									<div class="pricing-table-space"></div>
									<div class="pricing-table-features">
										
										<p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
										<p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
									</div>
									<div class="pricing-table-sign-up">
										<a href="#" class="hover-btn-new orange" href="#" data-toggle="modal" data-target="#register"><span>Register</span></a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pricing-table ">
									<div class="pricing-table-header grd1">
										<h2>B-Tech</h2>
										<h3>Bachler of Technology</h3>
									</div>
									<div class="pricing-table-space"></div>
									<div class="pricing-table-features">
										
										<p><i class="fa fa-link"></i> <strong>30</strong> Domains</p>
										<p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
									</div>
									<div class="pricing-table-sign-up">
										<a href="#" class="hover-btn-new orange" href="#" data-toggle="modal" data-target="#register"><span>Register</span></a>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="pricing-table ">
									<div class="pricing-table-header grd1">
										<h2>M-tech</h2>
										<h3>Master of Technology</h3>
									</div>
									<div class="pricing-table-space"></div>
									<div class="pricing-table-features">
										
										<p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
										<p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
									</div>
									<div class="pricing-table-sign-up">
										<a href="#" class="hover-btn-new orange" href="#" data-toggle="modal" data-target="#register"><span>Register</span></a>
									</div>
								</div>
							</div>
						</div><!-- end row -->
					</div><!-- end pane -->

					
				</div><!-- end content -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->

<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	  <div class="modal-content">
		  <div class="modal-header tit-up">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h4 class="modal-title">Book Now </h4>
		  </div>
		  <div class="modal-body customer-box">
			  <!-- Nav tabs -->
			 
			  <!-- Tab panes -->
			  <div class="tab-content">
				 
				  <div class="tab-pane active" id="Registration">
					  <form role="form" class="form-horizontal" action="/course_insert" method="post">
						  <div class="form-group">
							  <div class="col-sm-12">
								  <input class="form-control" placeholder="Name" type="text" name="name">
							  </div>
						  </div>
						  <div class="form-group">
							  <div class="col-sm-12">
								  <input class="form-control" id="email" placeholder="Email" type="email" name="email">
							  </div>
						  </div>
						  <div class="form-group">
							  <div class="col-sm-12">
								  <input class="form-control" id="mobile" placeholder="Mobile" type="number" name="mobile_no">
							  </div>
						  </div>
						  <div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" id="address" placeholder="Address" type="text" name="address"></textarea>
							</div>
						</div>
						  <div class="form-group">
							  <div class="col-sm-12">
								<label >Gender: </label>
								<label>Male</label>
								<input  type="radio" name="gender" value="male" name="gender">
								<label>Female</label>
								<input  type="radio" name="gender" value="female" name="gender"> 
							  </div>
						  </div>

						  <div class="form-group">
							  <div class="col-sm-12">
								
								<select  class="form-control"  id="course" class="form-select" name="qualification">
									<option value="null">Select Your Qualification</option>
									<option value="MCA">MCA</option>
									<option value="BCA">BCA</option>
									<option value="B-Tech(IT)">Btech(IT)</option>
									<option value="B-Tech(CS)">Btech(CS)</option>
									<option value="B-Tech(Civil)">Btech(Civil)</option>
									<option value="B-Tech(MECHANICAL)">Btech(MECHANICAL)</option>
									<option value="B-Tech(ELECRONICS)">Btech(ELECRONICS)</option>
									<option value="M-Tech">M-Tech</option>
									<option value="MBA">MBA</option>
									<option value="BBA">BBA</option>
									
								</select>
								  
							  </div>
						  </div>

						  <div class="form-group">
							<div class="col-sm-12">
								<input class="form-control" id="Course" value="MCA" placeholder="MCA" name="course" type="text" readonly>
							</div>
						</div>
						 



						  <div class="row">							
							  <div class="col-sm-10">
								  <button type="submit" class="btn btn-info btn-radius btn-brd grd1">
									  Save &amp; Continue
								  </button>
								  <button type="submit" class="btn btn-danger btn-radius btn-brd grd1">
									  Cancel</button>
							  </div>
						  </div>
					  </form>
				  </div>
			  </div>
		  </div>
	  </div>
	</div>
  </div>






        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="public/images/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

	<%- include('footer.ejs')%>